*.log
.DS_Store
Thumbs.db

# Environment
.env
.env.backup
.env.production
backend/.env

# IDE & Editor
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Auth
/auth.json

# Node Modules
/node_modules
backend/node_modules
frontend/node_modules

# Vendor
/vendor
backend/vendor

# Laravel Public
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage

# Backend Public
backend/public/build
backend/public/hot
backend/public/storage

# Storage
/storage/*.key
/storage/pail
backend/storage/*.key
backend/storage/pail

# Helper
_ide_helper.php

# Homestead
Homestead.json
Homestead.yaml